/*@_@_@_@ COMMON @_@_@_@*/

body {
    margin: 0;
    background: #e8e8e8;
}

.container {
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 140px 50px;
    
}

/*@_@_@_@ END OF COMMON @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */

/*@_@_@_@ HEADER TEXT@_@_@_@*/

.image-header {
    width: 100%;
    min-height: 700px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../Images/david-von-diemar-newsize-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
}

.header-text-wrapper {
    font-family: 'Muli', sans-serif;
    margin: 90px 100px;
    display: block;
    /* height: 300px; */
}

.header-text {
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.header-text-wrapper hr {
    margin: 7px auto;
}

.header-text-wrapper hr:last-of-type {
    margin-top: 0;
}

.header-text-wrapper hr:first-of-type {
    margin-top: 10px;
    margin-bottom: 0;
}

.header-text h1 {
    font-size: 3em;
    letter-spacing: .3em;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 0;
}

.header-text p {
    margin: 0 100px;
    margin-top: 3 0px;
    line-height: 200%;
}

.header-text a {
    font-size: 1.2em;
    align-self: flex-end;
    margin: 25px 90px 15px auto;
    padding: 0 30px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    transition: all .3s ease;
}

.header-text a:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

@media (max-width: 900px) {
    .header-text-wrapper {
        margin: 90px 50px;
    }
}

@media (max-width: 550px) {
    .header-text-wrapper {
        margin: 50px 0 0 0;
    }
    .header-text h1 {
        display: inline-block;
        margin: 0;
    }
    .header-text p {
        margin: 0;
    }
    .header-text a {
        margin-right: 20px;
    }
}

/*@_@_@_@ END OF HEADER @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */

/*@_@_@_@ NAVIGATION @_@_@_@*/

.navigation {
    /* position: fixed; */
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.281));
    /* background-color: rgba(0, 0, 0, .7); */
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
}

.navigation a {
    color: white;
    display: block;
    letter-spacing: 3px;
    text-decoration: none;
    border-left: 1px solid white;
    width: 100%;
    padding: 10px auto;
    text-align: center;
    transition: all .3s ease-in;
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, .7);
    color: black;
}

.navigation-logo {
    padding-left: 20px;
}

.navigation-main {
    display: flex;
    align-items: center;
    flex: 2 2 auto;
    justify-content: space-around;
}

.navigation-main a {}

.navigation-main a:first-of-type {
    border: none;
}

.navigation-secondary {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-around;
}

.navigation-secondary a {
    /* font-size: .8em; */
}

.dropdown-menu {
    display: none;
}

.activate-dropdown {
    display: none;
}

@media (max-width: 550px) {
    .navigation a {
        border: none;
    }
}

/*@_@_@_@ END OF NAVIGATION @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */

/*@_@_@_@ ABOUT @_@_@_@*/


.about-wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    background-color: rgb(18, 49, 50);
    /* Same as contact-me h1 */
}

.about-me {
    display: flex;
}

.about-image {
    margin: 0 70px 30px 30px;
    flex: 1 2 auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.about-image img {}

.about-contact {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-top: none;
}

.about-contact a:first-of-type {
    color: #3b5998;
}

.about-contact a:last-child {
    color: rgb(20, 18, 18);
}

.about-contact svg {
    font-size: 2em;
}

.about-info {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-info h2 {
    align-self: flex-end;
}

.about-info p {
    margin-bottom: 0;
    line-height: 40px;
}

/*@_@_@_@ END OF ABOUT @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */

/*@_@_@_@ CONTACT @_@_@_@*/

.contact-wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    background-color: rgb(18, 49, 50);
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info {
    margin: 50px;
    flex: 0 1 350px;
}

.contact-facebook, .contact-phone, .contact-email {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 4px 2px -2px rgba(62, 90, 91, 0.3);
}

.contact-me h2 {
    font-size: 1em;
    justify-self: flex-start;
}

.contact-info p {
    margin: 0;
    align-self: center;
    justify-self: center;
}

.contact-form {
    flex: 0 1 700px;
}

.contact-form form{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.contact-form input {
    height: 30px;
    border: 2px solid rgba(185, 127, 109, 1);
}

.contact-form textarea {
    margin-bottom: 20px;
    border: 2px solid rgba(185, 127, 109, 1);    
}

.contact-form input[type="submit"] {
    background-color: white;
    color: rgba(185, 127, 109, 1);    
    transition: all .4s ease-in-out;
    height: 40px;
}

.contact-form input::-webkit-input-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.contact-form input::-moz-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.contact-form input:-ms-input-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.contact-form input:-moz-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.contact-form textarea::-webkit-input-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.contact-form textarea::-moz-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.contact-form textarea:-ms-input-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.contact-form textarea:-moz-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}


.form-info {
    display: flex;
}

.form-info input[type="text"] {
    margin-right: 20px;
}

.form-info input {
    flex: 1 1 auto;
}

#contact-subject {
    margin: 10px 0;
}



@media (max-width: 700px) {
    .contact-form {
        flex: 0 1 auto;
    }
}

/*@_@_@_@ END OF CONTACT @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */

/*@_@_@_@ FOOTER @_@_@_@*/

.footer-wrapper {
    background-color: rgb(18, 49, 50);
    color: #B97F6D;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer-wrapper a {
    color: white;
    text-decoration: none;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2 1 auto;
}

.footer-logo h2 {
    color: #B97F6D;
}

.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3 1 auto;
}

.footer-main h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.footer-main input[type="email"] {
    height: 30px;
    width: 250px;
    border-width: 0px;
    border-color: rgba(185, 127, 109, 1);
    background-color: rgba(62, 90, 91, 0.59);
}

.footer-main input::-webkit-input-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.footer-main input::-moz-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.footer-main input:-ms-input-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.footer-main input:-moz-placeholder {
    color: rgba(185, 127, 109, 1);
    padding-left: 10px;
}

.footer-main button {
    height: 36px;
    margin-left: 10px;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(185, 127, 109, 1);
    border: 2px solid rgba(185, 127, 109, 1);
    transition: all .4s ease-in-out;
}

.footer-main button:hover {
    background-color: rgba(185, 127, 109, 1);
    color: rgb(15, 28, 29);
    cursor: pointer;
}

.footer-main .footer-text {
    display: flex;
}

.footer-secondary {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-secondary svg {
    font-size: 1.5em;
}

.footer-secondary p {
    display: inline-block;
    margin: 15px 5px;
}

#fb-icon {
    color: #0f45b5;
}

/*@_@_@_@ END OF FOOTER @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */