/*@_@_@_@ COMMON @_@_@_@*/

body {
    margin: 0;
    background: #e8e8e8;
}

.container {
    margin: 30px 50px;
    background-color: white;
}

/*@_@_@_@ END OF COMMON @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */


/*@_@_@_@ HEADER TEXT@_@_@_@*/

.image-header{
    width: 100%;
    min-height: 700px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
    url("Images/david-von-diemar-newsize-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    display: inline-block;
    
}

.header-text-wrapper {
    font-family: 'Muli', sans-serif;
    margin: 90px 100px;
    display: block;

    /* height: 300px; */
}

.header-text {
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.header-text-wrapper hr {
    margin: 7px auto;
}

.header-text-wrapper hr:last-of-type {
    margin-top: 0;
}

.header-text-wrapper hr:first-of-type {
    margin-top: 10px;
    margin-bottom: 0;
}

.header-text h1 {
    font-size: 3em;
    letter-spacing: .3em;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 0;
}

.header-text p {
    margin: 0 100px;
    margin-top: 3   0px;
    line-height: 200%;
}

.header-text a {
    font-size: 1.2em;    
    align-self: flex-end;
    margin: 25px 90px 15px auto;
    padding: 0 30px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    transition: all .3s ease;
}

.header-text a:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

@media (max-width: 900px) {
    .header-text-wrapper {
        margin: 90px 50px;
    }
}

@media (max-width: 550px) {
    .header-text-wrapper {
        margin: 50px 0 0 0;
    }

    .header-text h1 {
        display: inline-block;
        margin: 0;
    }

    .header-text p {
        margin: 0;
    }


    .header-text a {
        margin-right: 20px;
    }
}

/*@_@_@_@ END OF HEADER @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */

/*@_@_@_@ NAVIGATION @_@_@_@*/

.navigation {
    /* position: fixed; */
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.281));
    /* background-color: rgba(0, 0, 0, .7); */
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
}

.navigation a {
    color: white;
    display: block;
    letter-spacing: 3px;
    text-decoration: none;
    border-left: 1px solid white;
    width: 100%;
    padding: 10px auto;
    text-align: center;
    transition: all .3s ease-in;
}

.navigation a:hover {
    background-color:rgba(255, 255, 255, .7);
    color: black;
}

.navigation-logo {
    padding-left: 20px;
}

.navigation-main {
    display: flex;
    align-items: center;
    flex: 2 2 auto;
    justify-content: space-around;
}

.navigation-main a {    
}

.navigation-main a:first-of-type {
    border: none;
}

.navigation-secondary {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-around;
}

.navigation-secondary a {
    /* font-size: .8em; */
}

.dropdown-menu {
    display: none;
}

.activate-dropdown {
    display: none;
}

@media (max-width: 550px) {
    .navigation a {
        border: none;
    }
}

/*@_@_@_@ END OF NAVIGATION @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */

/*@_@_@_@ ABOUT @_@_@_@*/

.about-wrapper {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.about-wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

.about-me {
    display: flex;
}

.about-image {
    margin: 0 70px 30px 30px; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);    
}

.about-contact {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-top: none;
}

.about-contact a:first-of-type {
    color: #3b5998;
}

.about-contact a:last-child {
    color: rgb(20, 18, 18);
}

.about-contact svg {
    font-size: 2em;
}

.about-info {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-info h2 {
    align-self: flex-end;
}

.about-info p {
    margin-bottom: 0;
    line-height: 40px;
}

/*@_@_@_@ END OF ABOUT @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */
