/*@_@_@_@ COMMON @_@_@_@*/

body {
    margin: 0;
}

/*@_@_@_@ END OF COMMON @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */


/*@_@_@_@ HEADER TEXT@_@_@_@*/

.image-header{
    width: 100%;
    min-height: 700px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
    url("Images/david-von-diemar-newsize-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    display: inline-block;
    
}

.header-text-wrapper {
    font-family: 'Muli', sans-serif;
    margin: 90px 100px;
    display: block;

    /* height: 300px; */
}

.header-text {
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.header-text-wrapper hr {
    margin: 7px auto;
}

.header-text-wrapper hr:last-of-type {
    margin-top: 0;
}

.header-text-wrapper hr:first-of-type {
    margin-top: 10px;
    margin-bottom: 0;
}

.header-text h1 {
    font-size: 3em;
    letter-spacing: .3em;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 0;
}

.header-text p {
    margin: 0 100px;
    margin-top: 3   0px;
    line-height: 200%;
}

.header-text a {
    font-size: 1.2em;    
    align-self: flex-end;
    margin: 25px 90px 15px auto;
    padding: 0 30px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    transition: all .3s ease;
}

.header-text a:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

@media (max-width: 900px) {
    .header-text-wrapper {
        margin: 90px 50px;
    }
}

@media (max-width: 550px) {
    .header-text-wrapper {
        margin: 50px 0 0 0;
    }

    .header-text h1 {
        display: inline-block;
        margin: 0;
    }

    .header-text p {
        margin: 0;
    }


    .header-text a {
        margin-right: 20px;
    }
}

/*@_@_@_@ END OF HEADER @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */

/*@_@_@_@ NAVIGATION @_@_@_@*/

.navigation {
    /* position: fixed; */
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
}

.navigation a {
    color: white;
    font-size: 1.2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    border-left: 1px solid white;
    width: 100%;
    text-align: center;
}

.navigation h2 {
}

.navigation-main {
    display: flex;
    align-items: center;
    flex: 2 2 auto;
    justify-content: space-around;
}

.navigation-main a {
}

.navigation-main a:first-of-type {
    border: none;
}

.navigation-secondary {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-around;
}

.navigation-secondary a {
    font-size: .8em;
}

/*@_@_@_@ END OF NAVIGATION @_@_@_@*/

/* ||||||||||||||||||||||||||||||||||||||||||||| */
